/* styles.css */
body {
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}    

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: chocolate;
    display: flex;
    justify-content: center;
}

.textInfo {
    color:darksalmon;
    display: flex;
    justify-content: center;
}

.inputContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}

.inputContainer input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-top: 5px;
}

#addTask{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#addTask:hover {
    background-color: green;
}

.listContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;;
    margin-top: 20px;
    padding: 10px 50px 10px 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#listaTareas {
    list-style-type: none;
    padding: 5px;
    width: 300px;;
}